[Unit]
Description=REST API GO
After=network.target

[Service]
User=lwwwl
WorkingDirectory=~/apps/REST_API
ExecStart=~/apps/REST_API/url-shortener
Restart=always
RestartSec=4
StandardOutput=inherit
EnvironmentFile=~/apps/REST_API/config.env

[Install]
WantedBy=multi-user.target