[Unit]
Description=REST API GO
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/rest_api
ExecStart=/root/apps/rest_api/rest_api
Restart=always
RestartSec=4
StandardOutput=inherit
EnvironmentFile=/root/apps/rest_api/config.env

[Install]
WantedBy=multi-user.target