[Unit]
Description=REST API GO
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/REST_API
ExecStart=/root/apps/REST_API/url-shortener
Restart=always
RestartSec=4
StandardOutput=inherit
EnvironmentFile=/root/apps/REST_API/config.env

[Install]
WantedBy=multi-user.target